/************<POSITION>************/
/* All devices */
html, body, .main {
  height: 100%;
  font-size: 16pt;
}

#background-svg, #tree-svg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.jumbotron {
  margin-bottom: 0;
  text-align: center;
}

.status-available {
  color: green;
}

.status-unavailable {
  color: orange;
}

.vertical-centering-container {
  white-space: nowrap;
}

.vertically-centered {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}

.vertical-centering-container:before {
  content: '';
  margin-right: -0.25em;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#section-home, #section-awards, #section-contact {
  text-align: center;
}

#logo {
  width: 60%;
}

.navbar {
  border-radius: 0;
}

.stuck {
  position: fixed;
  width: 100%;
  top: 0;
}

.section-inner {
  display: inline-block;
}

.section-inner p {
  display: inline-block;
  text-align: left;
}

p {
  white-space: normal;
}

#playlist {
  width: 100%;
  height: 100%;
}

li {
  list-style-type: none;
  display: inline-block;
}

/*.list-icon, .list-info { 
  float: left;
}*/

footer {
  text-align: center;
}

footer > p {
  margin: 0;
}

/* Extra small devices (phones, less than 768px) */
.section {
  height: auto;
}

#section-about, #section-awards, #section-contact {
  padding: 3px;
}

.jumbotron {
  padding: 0;
}

h1, .jumbotron > h1 {
  font-size: 1em;
  margin: 0;
}

.fa, .list-info {
  display: inline;
}

p {
  font-size: 0.75em;
}

.visual-content-img {
  width: 100%;
  margin-right: 0;
  margin-bottom: 12px;
}

footer > p {
  padding: 3px;
  font-size: 0.45em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .section {
    height: 100%;
  }
  
  #section-about {
    padding: 6px;
  }
  
  .jumbotron {
    padding: 50px;
  }
  
  h1, .jumbotron > h1 {
    font-size: 1.34em;
  }
  
  .fa {
    margin-right: 6px;
  }
  
  p, .fa {
    font-size: 0.9em;
  }
  
  .navbar-nav, .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li {
    display: inline-block;
  }
  
  .visual-content-img {
    float: left;
    width: 25%;
    margin-right: 6px;
    margin-bottom: 0;
  }
  
  footer > p {
    padding: 6px;
    font-size: 0.6em;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #section-about {
    padding: 9px;
  }
  
  h1, .jumbotron > h1 {
    font-size: 1.67em;
  }
  
  .fa {
    margin-right: 9px;
  }
  
  p, .fa {
    font-size: 1.05em;
  }
  
  .visual-content-img {
    margin-right: 9px;
  }

  footer > p {
    padding: 9px;
    font-size: 0.75em;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #section-about {
    padding: 12px;
  }
  
  .jumbotron > h1 {
    font-size: 2em;
  }


  .fa {
    margin-right: 12px;
  }
  
  p, .fa {
    font-size: 1.2em;
  }
  
  .visual-content-img {
    margin-right: 12px;
  }
  
  footer > p {
    padding: 12px;
    font-size: 0.9em;
  }
}
/***********</POSITION>************/
/************<PALETTE>************/
/* All devices */
body {
  background-color: #C5D4C2;
  font-family: Georgia;
}

.jumbotron {
  background: none;
}

.stuck {
  background-color: #C5D4C2 !important;
}

a, a:link, a:visited, a:hover, a:active {
 text-decoration: none;
}

h1, jumbotron > h1 {
  font-family: Tahoma, sans-serif;
  font-weight: bold;
}

.jumbotron > h1 {
  text-transform: uppercase;
  color: rgb(240, 240, 240);
  background: rgba(15, 15, 15, 0.9);
}

.navbar, .navbar-default {
  background: none;
  border: none;
}

.fa-envelope {
  color: #FFF;
}

.fa-soundcloud {
  color: #FF3A00;
}

.fa-facebook {
  color: #3B5998
}

.fa-twitter {
  color: #00ACED
}

.fa-linkedin {
  color: #007BB6;
}

.section, footer {
  background-color: rgba(231, 231, 231, 0.9);
}

/* Extra small devices (phones, less than 768px) */
.jumbotron {
  padding-left: 0;
  padding-right: 0;
}

.jumbotron > h1 {
  padding: 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .jumbotron {
    padding-left: 30px;
    padding-right: 60px;
  }
  
  .jumbotron > h1 {
    padding: 5 0;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .jumbotron {
    padding-left: 30px;
    padding-right: 60px;
  }
  
  .jumbotron > h1 {
    padding: 10 0;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .jumbotron {
    padding-left: 90px;
    padding-right: 90px;
  }

  .jumbotron > h1 {
    padding: 10 0;
  }
}
/***********</PALETTE>************/